<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=@title%></title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <%= render 'shared/assets_css' %>
</head>
<body class="<%=@clss%>">
    <div class="wrapper">
      <%= render 'shared/topbar' if current_member %>

      <% if current_member %>
        <% if current_member.is_admin %>
          <%= render 'shared/admin_sidebar' %>
        <%else%>
          <%= render 'shared/member_sidebar' %>
        <% end %>
      <% end %>

      <%= yield %>
      <%= render 'shared/footer' if current_member %>
      <div class='control-sidebar-bg'></div>
    </div>
    <% render 'shared/assets_js' %>
</body>
</html>
