




<div class="content-wrapper">

  <section class="content-header">
    <h1>
      Membros
      <small>cadastro de membros</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a href="/members"> Membros</a></li>
      <li class="active">Cadastro de membro</li>
    </ol>
  </section>

  <section class="content">
    <div class="row">

      <% if @member.errors.any? %>
          <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-ban"></i> Foram encontrados erro(s) na validação!</h4>
                    <ul>
                    <% @member.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
          </div>
       <% end %>

      <div class="col-xs-12">
        <%= form_for @member, html: {multipart: true} do |f| %>
          <%= render :partial => "form", :object => f, :locals => { :user => @member } %>
          <%= link_to "Cancelar", :back, class: "btn btn-danger" %>
          <%= f.submit "Salvar", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </section>
</div>
