

<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Membros
      <small>cadastro de membros</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active">Membros</li>
    </ol>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Membros / Maçons</h3>
                  <div class="box-tools">
                    <%= form_tag('/members', method: "get") do %>
                    <div class="input-group">
                      <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="CIM, Nome ou CPF..."/>
                      <div class="input-group-btn">
                        <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        <a href="<%=new_member_path%>" class="btn btn-sm btn-success"><i class="fa fa-plus"></i></a>
                      </div>
                    </div>
                    <% end %>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">

                  <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>CIM</th>
                          <th>Nome</th>
                          <th>Grau</th>
                          <th>Situação</th>
                          <th class="col-sm-2">Opções</th>
                        </tr>
                      </thead>
                      <tbody>
                        <%@members.each do |m|%>
                        <tr>
                          <td><%=m.cim%></td>
                          <td><%=m.first_name%> <%=m.last_name%></td>
                          <td><%=m.degree.description%></td>
                          <%
                            if m.active
                              status = "ativo"
                              lbl = "success"
                            else
                              status = "afastado"
                              lbl = "danger"
                            end
                          %>
                          <td><span class="label label-<%=lbl%>"><%=status%></span></td>
                          <td>

                            <div class="btn-group">
                              <%= link_to "Visualizar" ,m, class: "btn btn-primary btn-flat" %>
                              <button type="button" class="btn btn-primary btn-flat dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                                <li><%= link_to "Dependentes", edit_member_path(m)%></li>
                                <li><%= link_to "Atualizar informações", edit_member_path(m)%></li>
                                <li><%= link_to "Resetar senha de acesso", edit_member_path(m)%></li>
                                <li><%= link_to "Excluir registro", m, method: :delete, data: {confirm: 'Tem certeza?'} %></li>
                              </ul>
                            </div>

                          </td>
                        </tr>
                        <% end %>

                      </tbody>

                    </table>


                </div>
                <div class="box-footer clearfix">
                  <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">&raquo;</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
  </section>

</div>
